<div class="row">
  <div class="col-md-12 col-lg-12" style="text-align:left">
    <table width="40%">
      <tr>

          <span ng-show="isLoggedIn">Logged in as {{loggedInName}} <a href="https://accounts.google.com/logout">logout</a></span>
 
      </tr>
      <tr class="blank-row"></tr>
      <tr>
        <td style="vertical-align:middle">
          <span class="dark-text">Private Key: </span>
        </td>
        <td>
          <input ng-model="privKey" class="cream-text" size="30"/>
          <button ng-click="checkEmail()" class="orange-button">{{buttonText}}</button>
        </td>  
      </tr>
      <tr class="blank-row"></tr>
    </table>
  </div>
  
  <div class="col-md-12" style="text-align:left position: relative">
    <p>Paste encrypted message here:</p>
    <textarea ng-model="emailBody" class="cream-text form-control" cols="80" rows="18"></textarea>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <button ng-click="decryptEmail()" class="orange-button en-button">Decrypt</button>
  </div>
</div>
