<div class="row">
  <div class="col-md-12 col-lg-12" style="text-align:left">
    <table width="40%">
      <tr>

          <span ng-show="isLoggedIn">Logged in as {{loggedInName}} <a href="https://accounts.google.com/logout">logout</a></span>
 
      </tr>
      <tr class="blank-row"></tr>
      <tr>
        <td>
          <p>Private Key: </p>
        </td>
        <td>
          <input ng-model="privKey" size="30"/>
          <button ng-click="checkEmail()" class="orange-button">{{buttonText}}</button>
        </td>  
      </tr>
      <tr class="blank-row"></tr>
    </table>
  </div>
  
  <div class="col-md-12" style=text-align:left">
    <p>Paste encrypted message here:</p>
    <textarea ng-model="emailBody" cols="80" rows="20"></textarea>
    <button ng-click="decryptEmail()" class="orange-button">Decrypt</button>
  </div>
</div>
