<div class="row">
  <div class="col-md-12 col-lg-12" style="text-align:left">
    <table width="40%">
      <tr>

          <p ng-show="isLoggedIn">Logged in as {{loggedInName}} : <a ng-href="https://accounts.google.com/logout?continue=https://appengine.google.com/_ah/logout?continue={{fullLocation}}">Logout</a> &nbsp; <a ng-click="invalidateKeys()" href="">Delete my keys</a></p>
 
      </tr>
      <tr class="blank-row"></tr>
      <tr>
        <td style="vertical-align:middle">
          <span class="dark-text">Private Key: </span>
        </td>
        <td>
          <input ng-model="privKey" class="cream-text" size="30"/>
          <button ng-click="checkEmail()" class="orange-button">{{buttonText}}</button>
        </td>  
      </tr>
      <tr class="blank-row"></tr>
    </table>
  </div>
  
  <div class="col-md-12" style="text-align:left position: relative">
    <p>Paste encrypted message here:</p>
    <textarea ng-model="emailBody" class="cream-text form-control" cols="80" rows="18"></textarea>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <button ng-click="clearMessage()" class="orange-button">Clear</button>
    <button ng-click="decryptEmail()" class="orange-button en-button">Decrypt</button>
  </div>
</div>
