<div class="row">
  <div class="col-md-12 col-lg-12" style="text-align:left">
    <table width="40%">
      <tr>
        <td>
          <p>Email Address: </p>
        </td>
        <td>
          <form name="emailForm">
            <input type="email" name="input" ng-model="emailAddress" size="30" required/>
          </form>
        </td>
      </tr>
      <tr class="blank-row"></tr>
      <tr>
        <td>
          <p>Public Key: </p>
        </td>
        <td>
          <input ng-model="pubKey" size="30"/>
          <button ng-click="checkEmail()" class="orange-button">Get Key</button>
        </td>  
      </tr>
      <tr class="blank-row"></tr>
    </table>
  </div>
  
  <div class="col-md-12" style=text-align:left">
    <p>Type email body here:</p>
    <textarea ng-model="emailBody" cols="80" rows="20"></textarea>
    <button ng-click="encryptEmail()" class="orange-button">Encrypt</button>
  </div>
</div>
