<div class="row">
  <div class="col-md-12 col-lg-12" style="text-align:left">
    <table width="100%">
      <tr>
        <td style="vertical-align:middle" width="10%">
          <span class="dark-text">Email Address: </span>
        </td>
        <td>
          <form name="emailForm">
            <input type="email" name="input" ng-model="emailAddress" class="cream-text" size="30" required/>
          </form>
        </td>
        <td>
          <div class="alert alert-danger" ng-show="!validEmail" role="alert" width="10%">Please enter a valid gmail.com address.</div>
        </td>
      </tr>
      <tr class="blank-row"></tr>
      <tr>
        <td style="vertical-align:middle">
          <span class="dark-text">Public Key: </span>
        </td>
        <td>
          <input ng-model="pubKey" class="cream-text" size="30"/>
          <button ng-click="checkEmail()" class="orange-button">Get Key</button>
        </td>  
      </tr>
      <tr class="blank-row"></tr>
    </table>
  </div>
  
  <div class="col-md-12" style="text-align:left; position:relative">
    <p>Type email body here:</p> 
    <textarea ng-model="emailBody" class="cream-text form-control"rows="18"></textarea>    
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <button ng-click="encryptEmail()" class="orange-button en-button">Encrypt</button>
  </div>
</div>
