/* Some basic defaults for the website */

body {
	background-color: #BAB293;
	margin-top:70px;
}

.link-div {
	vertical-align:right;
	float:right;
}

.logo {
	height:20px;
}

.about-image {
  height:200px;
  width:200px;
}

.jumbo-image {
  height:100% \9;
  width: 100% \9;
}

@media (max-width: 480px) {
    .slogan{
      font-size:18px;
    }
}

.small-top-buffer {
	margin-top:50px;
}

.about-jumbo {
	background-color:#A32500;
	color:#EFE4BD;
	text-align:center;
	border:2px solid;
	border-color:#263248;
	border-radius:10px;
	box-shadow: 10px 10px 5px #A39770;
}

.about-rule {
	color:#33332D;
	border-color:#33332D;
}

.slogan {
	font-family:"Verdana", sans-serif;
	color:#EFE4BD;
}

.orange-button {
  background-color:#A32500;
  color:#EFE4BD;
  border-color:#A39770;
}

p {
	color:#2B2922;
}

h1 {
	color:#2B2922
}

h2 {
	color:#2B2922
}

h3 {
	color:#2B2922
}

span {
  color:#EFE4BD
}

.blank-row {
  height: 10px !important; /* Overwrite any previous rules */
}

.blank-col {
  width: 90px !important
}

.big-blank-row {
  height: 15px !important;
}
