/* Some basic defaults for the website */

body {
	background-color: #3F5765;
}

.link-div {
	vertical-align:right;
	float:right;
}

.link-button {
	background-color:#FF530D;
	color:#EFEFEF;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.logo {
	height:60px;
}

.top-buffer {
	margin-top:60px;
}

.small-top-buffer {
	margin-top:30px;
}

.header-link {
	font-family: sans-serif;
	font-size:2ems;
	color:#FFCBA4;
}

.about-jumbo {
	background-color:#3F5765;
	color:#EFEFEF;
	text-align:center;
}

.about-rule {
	color:#33332D;
	border-color:#33332D;
}

.slogan {
	font-family:"Georgia", serif;
	color:#EFEFEF;
}

p {
	color:#EFEFEF;
}

h1 {
	color:#EFEFEF
}

h2 {
	color:#EFEFEF
}